*{
  padding : 0px; 
  margin : 0px;
}

.main-component{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

.heading{
  padding : 50px; 
  font-family: sans-serif;
}

.main-segment{
  width : 100%;
  height: 75%;
  text-align: center;
}
.card-container{
  display: grid;
  gap:0.5 rem;
  grid-template-columns:repeat(auto-fit,minmax(340px,1fr));
  background-color: rgb(243, 241, 101);
}
.card{
  margin:20px;
}

.input{
  background-color: rgb(241, 229, 116);
}
.children-segment{
  border: 1px solid red;
}
.card-comp{
 box-shadow : 3px 3px 10px 0px rgb(22, 11, 11);
  background-color: rgb(231, 185, 33);
}
.Cardactions{
  background-color: rgb(231, 185, 33);
  justify-content: center;
}
.heading{
  text-align: center;
}
.main-segment{
  text-align: center;  
}